name: test

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    name: Continuous Testing
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go-version: [1.17]
      fail-fast: true
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code
        uses: actions/checkout@v3
      - name: Cache Go modules
        uses: actions/cache@v3.0.4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build and test
        run: make test
  line_endings:
    name: Check Line Endings
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Check line endings
        run: make check-line-endings
